body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 25px;
}
h1 {
  font-size: 1.6em;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  body {
    background-color: lightgray;
    font-size: 25px;
    margin: 50px;
  }

  .figure-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure {
    text-align: center;
    max-width: 45%;
  }
}

@media screen and (min-width: 1187px) {
  body {
    background-color: olive;
    max-width: 80%;
    margin: auto;
  }

  .text-section p {
    max-width: 80%;
    margin-left: 25px;
    
  }

  .figure-container {
    background-color: yellow;
    margin: auto;
  }

  figure {
    width: 550px;
  }
}